* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

header {
    padding: 20px 20px 0 20px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

header .brand img {
    width: 40px;
    border-radius: 30px;
}

header .brand h6 {
    font-size: 24px;
    color: #555;
    font-weight: 400;
    line-height: 30px;
    border-bottom: 1px #0d95e4;
}

header .header-navbar {
    width: 100%;
    background-color: #555;
    overflow: hidden;
    border-radius: 12px;
    gap: 4px;
}
  
header .header-navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
header .header-navbar a:hover {
    background-color: #000;
}
  
header .active {
    background-color: #04AA6D;
} 

main {
    margin: 32px 0;
}

main h2 {
    margin: 32px 0;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #199B0E;
}

section {
    margin-top: 64px;
}

footer {
    background-color: #0d95e4;
    color: #fff;
    margin-top: 48px;
    padding: 48px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-column {
    float: left;
    width: 33.33%;
}

#info .footer-row:after {
    content: "";
    display: table;
    clear: both;
}

footer .footer-flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

footer .footer-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

footer .footer-flip-card:hover .footer-flip-card-inner {
    transform: rotateY(180deg);
}

footer .footer-flip-card-front, .footer-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
}

footer .footer-flip-card-front {
    background-color: none;
}

footer .footer-flip-card-front img {
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    height: 200px;
}

footer .footer-flip-card-back {
    background-color: transparent;
    color: #fff;
    transform: rotateY(180deg);
}

footer .footer-menu {
    font-weight: 300;
    font-size: 14px;
}

footer .footer-menu-title {
    font-weight: 400;
    padding: 12px;
    font-size: 20px;
    text-align: justify;
}

footer .footer-menu ul {
    list-style-type: none;
    margin-top: 16px;
}

footer .footer-menu li {
    margin-bottom: 8px;
}

footer .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    gap: 10px;
}

footer .footer-social i {
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
}

footer .footer-copright {
    justify-content: space-between;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}